
html{
    height: 100%;
}
body {
    background-color: #080710; 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

form {
    background-color: rgb(168, 58, 104);
    border-radius: 40px ;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(255,255,255,0.6);
    padding: 50px 35px;
    
}
form * {
    font-family: 'poppins,sans-serif';
    color: #fcfcfc;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    padding-top: 30px; 
}
label { 
    margin-top: 30px;
    font-size: 16px;
}
input[type="radio"] {
    cursor: pointer;
    width: 15px;
    height: 15px;
    
} 

#interest {
    width: 100%;
}
input,select {
    cursor: pointer;
    height:50px;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 20px;
    padding: 0px 10px;
    font-size: 14px;
  
}
input:focus {
    border: 3px solid #e0edf3;
    box-shadow: 0 8px 8px -4px rgb(213, 225, 229);
}

::placeholder {
    color: #e5e5e5;
}
button {
    margin-top: 20px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    padding-bottom: 30px;
    height: 15px;
    width: 100%;
}
button:hover {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    transition: 0.7s;
}


